@primary: #ee1f54;
@primary-dark: #ce134f;
@secondary: #0078bd;
@primary-text: #333;
@secondary-text: #aaa;
@showcase-text: #363534;
@active-white: #fff;
@active-grey: #ccc;
@inactive-grey: #f6f6f6;
@error-red: lighten(red, 20%);
@bg-grey: #ddd;
@green: #4CAF50;
@red: #ff0000;
@orange: #ff7e00;
@sidebar-bg: #f6f6f6;
@pricing-blue: #3661ff;
@steps-grey: #eee;

@facebook: #3d5b99;
@google: #e25714;
@linkedin: #0073a4;
@github: #333;
@slack: #2c3239;
@twitter: #1da1f2;
