@import "colors";

@import "dimens";

@import "typo";


/*XTRA-XTRA SMALL*/
@media (max-width: 448px) {
    .showcase {
        section {
            .media {
                .media-body,
                .media-left,
                .media-right {
                    display: block;
                    width: 100%;
                }

                .media-object {
                    margin: 10px auto;
                }
            }
        }
    }
    .showcase.landing-page {
        header {

        }
        #watch-our-video {
            background-image: url("../images/videox@{screen-xs-bp}.jpg");
        }
        #contact-us {
            background-image: url("../images/footerx@{screen-xs-bp}.jpg");
        }
    }
}

/*XTRA SMALL*/
@media (min-width: 448px) {
    .showcase {
        &.landing-page {
            header {

                #head-desc {
                    h1 {
                        .font-size(3.2);
                        line-height: 36px;
                    }

                    .details {
                        .font-size(1.4)
                    }
                }
            }
            #watch-our-video {
                background-image: url("../images/videox@{screen-sm-bp}.jpg");
                min-height: 450px;
            }
            #contact-us {
                background-image: url("../images/footerx@{screen-sm-bp}.jpg");
            }
        }
    }
}

@media (min-width: 640px) {
    .modal-md.modal-dialog {
        width: 500px;
        margin-top: 80px;
    }

    .task-form-dialog,
    .task-form-dialog.modal-dialog {
        width: 1000px;
    }
}


/*SMALL SCREENS*/
@media (min-width: 768px) {
    .flex-row.row {
        display: flex;
        flex-wrap: wrap;
    }
    .flex-row.row > [class*='col-'] {
        display: flex;
        flex-direction: column;

        .card {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .top, .middle, .bottom, .actions {
                flex-direction: column;
                display: flex;
                justify-content: flex-start;
            }

            .bottom, .actions {
                flex-grow: 1;
                justify-content: flex-end;
            }
        }
    }

    .navbar {

        .dropdown {
            .account-actions-toggle {
                .avatar-wrapper {
                    float: none;
                }
            }
        }

        .navbar-nav {
            .dropdown-menu>li>a,
            .dropdown-menu>li>a:hover,
            .dropdown-menu>li>a:active {
                color: @primary;
                background: @active-white none;
            }
        }

        .search-box {
            form {
                max-width: 250px;
            }

            .form-control {
                max-width: 230px;
            }

            .form-control:focus {
                max-width: 230px;
            }
        }
    }

    .sidebar.collapse {
        display: block !important;
    }

    .sidebar {
        background: @inactive-grey;
        box-shadow: none;
    }

    .main {
        padding: 50px 60px 20px 80px;
    }

    .main-content {
        margin-left: 200px;
    }

    .home-page {

        .bg-wrapper {
            left: 200px;
        }

        .card {
            .title {
                .font-size(4.5);
            }
        }
    }

    #chat-widget {
        #chat-window {
            top: 100px;
        }
    }

    .showcase {

        header {
            .navbar,
            .navbar.navbar-fixed-top {
                .nav-main {
                    width: 100%;
                }
            }

            .navbar {
                .container {
                    max-width: 450px;
                }
            }

            .navbar {
                .navbar-header {
                    position: absolute;
                    left: 0;
                }
            }

            .content {
                .container {
                    padding-top: 40px;
                }
            }

            h1 {
                .font-size(6.2);
                line-height: 52px;
                font-weight: 600;
            }

        }

        .btn-callout.btn-main-cta,
        .btn-main-cta {
            padding: 20px 30px;
            margin: 20px 2px;
        }

        .step-slider.three-sm {
            ul {
                li {
                    float: left;
                    width: 33.3%;
                }
            }
        }

        .step-slider.five-sm {
            ul {
                li {
                    float: left;
                    width: 20%;
                }
            }
        }

        &.landing-page {
            header {
                h1 {
                    .font-size(7.4);
                    line-height: 60px;
                }

            }
            #press {
                .press-links {

                    li {
                        width: 14%;
                        margin-bottom: 0;
                    }
                }
            }
            #meet-our-developers {
                #our-devs {
                    img {
                        width: auto;
                        height: 170px;
                    }
                }
            }
            #watch-our-video {
                background-image: url("../images/videox@{screen-md-bp}.jpg");
            }
            #contact-us {
                background-image: url("../images/footerx@{screen-md-bp}.jpg");
            }
        }

        &.how-it-works-page,
        &.pricing-page {
            .step-slider {
                ul {
                    li {
                        padding: 0 10px 0 0;
                    }

                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }
    }
}


/*MEDIUM SCREENS*/
@media (min-width: 992px) {
    .task-form-dialog,
    .task-form-dialog.modal-dialog {
        width: 1000px;
    }

    .showcase {

        header {
            .container {
                max-width: 670px;
            }

            .navbar,
            .navbar.navbar-fixed-top {
                background-color: @inactive-grey;

                .nav-actions {
                    margin-right: 20px;
                    margin-left: 40px;
                }

                .nav-main {
                    margin-left: 240px;
                    width: auto;
                }
            }

            #navbar,
            .navbar {
                padding-left: 0;

                ul {
                    > li:first-child {
                        padding-left: 0;
                    }
                }
            }
        }

        .content {
            .container {
                max-width: 1000px;
            }
        }
    }

    .showcase.landing-page {
        header {

        }
        #how-it-works {
            #demo-mbp {
                img {
                    padding-top: 60px;
                    max-width: 130%;
                }
            }

            .how-it-works-btn {
                margin-top: -40px;
            }
        }
        #contact-us {
            background-image: url("../images/footerx@{screen-lg-bp}.jpg");
        }
    }

    .home-page {
        .card {
            max-width: 600px;
            padding: 60px 10px;

            .title {
                color: @primary;
                text-align: center;
                text-shadow: rgba(255, 255, 255, 0.1) 0 0 3px;
                .font-size(3.2);
                font-weight: 400;
            }
        }

        .notification-list {
            max-width: 700px;

            ul {

                li {
                    margin: 5px 25px;

                    a {
                        padding: 20px 10px 5px;
                        min-width: 100px;

                        .icon {
                            display: inline-block;
                            text-align: center;
                            margin-bottom: 2px;
                            position: relative;

                            i {
                                .font-size(3.5);
                            }
                        }
                    }

                    a:hover {
                        text-decoration: none;
                    }
                }
            }

            .fa.fa-caret-right {
                margin-left: 5px;
            }
        }
    }

    .notification-list.large {
        max-width: 800px;

        ul {

            li {
                margin: 5px 10px;
            }
        }
    }
}

/*LARGE SCREENS*/
@media (min-width: 1200px) {
    .showcase {

        header {
            .navbar {
                .container {
                    max-width: 870px;
                }
            }

            .container {
                max-width: 870px;
            }
        }
    }
}

/* X-LARGE SCREENS */
@media (min-width: 1360px) {
    .showcase {

        header {
            .navbar {
                .container {
                    max-width: 1000px;
                }
            }

            .container {
                max-width: 1000px;
            }
        }
    }
}
