// Variables: includes Bootstrap overrides
@import "variables";
@import "functions";
@import "mixins";

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

// Tunga styles
html {
    font-size: $font-size-base; // 16px
}

body {
    font-family: 'Fira Sans', sans-serif !important;
    font-size: $font-size-normal; // 14px
    font-weight: $font-weight-light;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background-color: get-color('lightest-grey');
}

// Typography
.font-weight-thin {
    font-weight: $font-weight-thin !important;
}

.font-weight-medium {
    font-weight: $font-weight-medium !important;
}

.showcase-title {
    font-size: px-to-rem(55);
    font-weight: $font-weight-medium;
}

.showcase-desc {
    font-size: px-to-rem(18);
    font-weight: $font-weight-light;
}

.showcase-section-title {
    font-size: px-to-rem(24);
    font-weight: $font-weight-medium;
}

.page-title {
    font-size: px-to-rem(24);
    font-weight: $font-weight-medium;
}

.page-sub-title {
    font-size: px-to-rem(16);
    color: get-color('dark-grey');
    font-weight: $font-weight-normal;
}

.pop-up-title {
    font-size: px-to-rem(16);
    font-weight: $font-weight-medium;
}

.text {
    font-size: $font-size-normal;
    font-weight: $font-weight-light;

    &.text-lg {
        font-size: $font-size-lg;
    }

    &.text-sm {
        font-size: $font-size-sm;
    }
}

// Icon sizes
.tunga-ic-sz-topbar {
    font-size: px-to-rem(30);
}

.tunga-ic-sz-navbar {
    font-size: px-to-rem(15);
}

.tunga-ic-sz-sidebar {
    font-size: px-to-rem(30);
}

.tunga-ic-sz-sm,
.tunga-ic-sz-main-sm {
    font-size: px-to-rem(15);
}

.tunga-ic-sz-icon,
.tunga-ic-sz-main {
    font-size: px-to-rem(20);
}

.tunga-ic-sz-md,
.tunga-ic-sz-main-md {
    font-size: px-to-rem(30);
}

.tunga-ic-sz-lg,
.tunga-ic-sz-main-lg {
    font-size: px-to-rem(40);
}

.tunga-ic-sz-xl,
.tunga-ic-sz-main-xl,
.tunga-ic-sz-main-xlg {
    font-size: px-to-rem(75);
}

.tunga-ic-sz-webfunnel {
    font-size: px-to-rem(25);
}

.tunga-ic-sz-card {
    font-size: px-to-rem(10);
}

// Buttons
.btn-skill {
    @include button-variant($brand-color, $brand-color);
    @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
    min-width: 77px;
}

.btn-icon {
    color: $brand-color;
    background-color: transparent;
    @include button-size(0, 0, $font-size-normal, $line-height-base, 0);

    &:focus {
        box-shadow: none;
    }
}

.btn-choice {
    color: get-color('black');
    background-color: transparent;
    @include padding-x(px-to-rem(12));
    border-bottom: 2px #e1e1e1 solid;
    border-radius: 0;
    box-shadow: none;

    &.active {
        border-bottom-color: $brand-color;
        box-shadow: none;
    }
}

.btn-xl {
    @include button-size($input-btn-padding-y-xl, $input-btn-padding-x-xl, $font-size-xl, $line-height-xl, $border-radius-lg);
}

.btn-xxl {
    @include button-size($input-btn-padding-y-xxl, $input-btn-padding-x-xxl, $font-size-xxl, $line-height-xxl, $border-radius-lg);
}

.btn-group {
    &.choice-group {
        .btn {
            box-shadow: none !important;

            &.btn-choice {
                margin-right: px-to-rem(10);
            }
        }
    }
}

// Input
.input-group {
    border-radius: $input-border-radius;
    box-shadow: $input-box-shadow;

    &.state-focus {
        box-shadow: 0 0 0 .2rem rgba(0, 158, 255, 0.3);
    }

    .input-group-text {
        @include padding(px-to-rem(12));
    }

    .form-control {
        box-shadow: none;

        &:first-child {
            padding-right: px-to-rem(6);
        }

        &:last-child {
            padding-left: px-to-rem(6);
        }
    }

    .btn {
        @include padding-y(px-to-rem(6));
        background-color: $input-bg;
        box-shadow: none;
    }

    &.input-search {
        max-width: 220px;
        box-shadow: none;

        &.state-focus {
            box-shadow: none;
        }

        &.input-search-branded {
            .input-group-text, .form-control {
                background-color: rgba(206, 19, 79, 0.9);
                color: get-color('white');
            }
        }

        .input-group-text, .form-control {
            @include padding-y(px-to-rem(3));
        }

        .input-group-text {
            @include padding-x(px-to-rem(9));
            @include border-left-radius(px-to-rem(15));
        }

        .form-control {
            @include padding-x(px-to-rem(6));
            @include border-right-radius(px-to-rem(15));
            box-shadow: none;

            &::placeholder {
                color: #ccc;
            }

            &:focus {
                box-shadow: none;
            }
        }
    }
}

// Avatar
.avatar-wrapper {
    position: relative;
    display: inline-block;

    .badge {
        position: absolute;
        top: -2px;
        right: -2px;
    }
}

.avatar {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
    }

    &.avatar-icon {
        font-size: 40px;
        text-align: center;
        color: $brand-color;
        background-color: get-color('white');
        vertical-align: middle;

        > i, > span {
            display: block;
        }
    }

    &.avatar-xs {
        width: 20px;
        height: 20px;

        &.avatar-icon {
            font-size: 20px;
        }
    }

    &.avatar-sm {
        width: 30px;
        height: 30px;

        &.avatar-icon {
            font-size: 30px;
        }
    }

    &.avatar-md {
        width: 60px;
        height: 60px;

        &.avatar-icon {
            font-size: 60px;
        }
    }

    &.avatar-lg {
        width: 80px;
        height: 80px;

        &.avatar-icon {
            font-size: 80px;
        }
    }

    &.avatar-xl {
        width: 100px;
        height: 100px;

        &.avatar-icon {
            font-size: 100px;
        }
    }

    &.avatar-xxl {
        width: 120px;
        height: 120px;

        &.avatar-icon {
            font-size: 120px;
        }
    }
}

// Badge
.badge {
    color: $brand-color;
    background-color: get-color('white');
    border: 1px $brand-color solid;
    border-radius: 50%;
}

// React Widgets
.rw-widget {
    border-radius: 5px;
    border-width: 0 !important;
    box-shadow: $input-box-shadow;

    &.rw-state-focus {
        box-shadow: 0 0 0 .2rem rgba(0, 158, 255, 0.3) !important;
    }

    input {
        background-color: get-color('light-grey');
        height: 40px;
    }

    > .rw-select {
        background-color: get-color('light-grey');
        border-width: 0;
    }
}

.rw-datetimepicker {
    > .rw-select {
        border-radius: 0 5px 5px 0;
    }
}

.rw-calendar {
    margin: 10px auto 0;
    max-width: 500px;

    .rw-calendar-grid {
        th {
            text-align: center;
        }
    }

    .rw-header .rw-btn-view {
        background-color: get-color('light-grey');
    }

    .rw-btn {
        &:hover,
        &:focus,
        &:active {
            color: $brand-color;
            background-color: get-color('white') !important;
            border-color: $brand-color;
        }

        &.rw-state-selected,
        &.rw-state-selected:hover,
        &.rw-state-selected:active,
        &.rw-state-selected:focus {
            color: get-color('white');
            background-color: $brand-color !important;
            border-color: $brand-color;
        }
    }

    .rw-empty-cell {
        height: 36px;
        background-color: get-color('white');
    }
}

// Uploads
.upload-input {
    .dropzone {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        min-height: 130px;
        border: 2px dashed get-color('dark-grey');
        padding: 20px;
        margin: 5px auto 10px;
        border-radius: 8px;
        cursor: pointer;

        &.hidden {
            display: none;
        }

        &:hover {
            border-color: get-color('blue');
        }

        > * {
            width: 100%;
            text-align: center;
        }

        img {
            max-width: 100%;
            max-height: 300px;
        }

        .filename {
            font-weight: $font-weight-normal;
            margin: 5px auto;
        }

        .help {
            margin-top: 10px;
        }
    }

    .file-list {
        margin-bottom: 5px;

        .file-item {
            display: inline-block;
            padding: 5px 10px;
            margin-right: 10px;
            background-color: get-color('light-grey');
            border-radius: 6px;

            .btn {
                font-size: $font-size-sm;
                background-color: transparent;
                padding: 0 2px;
                margin-left: 5px;

                &:hover, &:focus, &:active {
                    color: $brand-color;
                    outline: none;
                }
            }
        }
    }
}

// Tags

.tag-input {
    position: relative;

    .selected {
        .selected-item {
            float: left;
            display: inline-block;
            padding: 5px 5px 5px 10px;
            margin: 5px 2px 5px 0;
            border-radius: 5px;
            background-color: get-color('white');
            border: 1px solid rgba(0, 0, 0, 0.125);

            .close {
                margin-left: 8px;
                font-size: px-to-rem(8);
                line-height: px-to-rem(8);
            }

            a {
                cursor: pointer;
            }
        }
    }

    .suggestions {
        position: absolute;
        width: 100%;

        a {
            color: $brand-color;
            cursor: pointer;

            &:hover, &:focus {
                color: get-color('white');
                background-color: $brand-color;
            }
        }
    }
}

// Alerts
.error {
    color: get-color('red');
}

.success {
    text-align: center;
    margin: 5px auto;

    .success-icon {
        display: block;
        color: get-color('green');
        margin-bottom: 5px;
    }
}

// Modals
.modal-dialog {
    display: flex;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;

    &.modal-alert,
    &.modal-confirm,
    &.modal-prompt {
        max-width: 360px;
    }

    .modal-content {
        border-radius: 0;

        > * {
            @include padding-x(40px);

            &:first-child {
                padding-top: 40px;
            }

            &:last-child {
                padding-bottom: 40px;
            }
        }
    }

    .modal-header {
        padding-bottom: 0;
        border-bottom-width: 0;

        .close {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: px-to-rem(40);
            line-height: px-to-rem(20);
            padding: 0;
            margin: 0;
        }
    }

    .modal-footer {
        padding-top: 0;
        border-top-width: 0;
    }
}

// Navbar
.navbar {
    @include padding-y(0);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

    .navbar-brand {
        color: get-color('white');
        margin: 0;
        padding: 0;

        img {
            height: 50px;
        }
    }

    .navbar-nav {
        .input-search {
            @include padding-y(px-to-rem(10));
        }

        > li {
            > a {
                color: get-color('white');
                background-color: $brand-color;
                line-height: 50px;
                @include padding-x(px-to-rem(10));

                &:hover, &:focus {
                    text-decoration: none;
                }

                .caret {
                    margin-left: 5px;
                }
            }

            .dropdown-menu {
                min-width: 190px;
                left: auto;
                right: 0;
                margin-top: 0;
                @include padding-y(0);
                box-shadow: 0 2px 4px 0 rgba(204, 204, 204, 0.5);

                &.dropdown-menu-account {
                    min-width: 100px;

                    > li > a,
                    > li > a:hover,
                    > li > a:active {
                        color: get-color('black');
                        @include padding-y(px-to-rem(10));
                        @include padding-x(px-to-rem(14));

                        &:hover, &:focus {
                            color: $brand-color;
                            background-color: get-color('white');
                        }
                    }
                }

                > li > a,
                > li > a:hover,
                > li > a:active {
                    display: block;
                    color: $brand-color;
                    @include padding-y(px-to-rem(5));
                    @include padding-x(px-to-rem(10));

                    &:hover, &:focus {
                        text-decoration: none;
                        color: get-color('white');
                        background-color: $brand-color;
                    }
                }
            }
        }
    }
}

// Sidebar
.sidebar {
    position: fixed;
    width: 120px;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    text-align: center;
    @include padding-y(px-to-rem(30));
    @include padding-x(px-to-rem(20));
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: get-color('black');
    box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.5);

    ul {
        li {
            display: block;
            margin: 0 auto px-to-rem(40);

            a {
                display: block;
                color: get-color('white');

                &:hover, &:focus {
                    text-decoration: none;
                    color: get-color('dark-grey');
                }

                &.active {
                    color: $brand-color;
                }

                span {
                    display: block;
                    margin-top: px-to-rem(12);
                }
            }
        }
    }
}

// Titlebar
.titlebar {
    /*display: flex;
    align-items: flex-end;*/
    position: fixed;
    z-index: 1020;
    top: 50px;
    left: 120px;
    right: 0;
    height: 130px;
    background-color: get-color('white');
    @include padding-x(px-to-rem(80));
    padding-top: px-to-rem(42);
    box-shadow: 0 2px 4px 0 rgba(204, 204, 204, 0.5);

    .title-action {
        position: absolute;
        top: 42px;
        right: 100px;
    }

    .title-filters {
        position: absolute;
        left: 80px;
        bottom: -3px;

        a {
            display: inline-block;
            font-weight: $font-weight-normal;
            text-align: center;
            padding-bottom: px-to-rem(8);
            min-width: px-to-rem(130);

            &.active {
                border-bottom: 3px $brand-color solid;
            }

            &:hover, &:focus {
                text-decoration: none;
            }
        }
    }
}

// Main Content
.main-content {
    margin-top: px-to-rem(180);
    margin-left: px-to-rem(120);
    @include padding-x(px-to-rem(80));
    padding-top: px-to-rem(40);

    .onboard-card {
        max-width: 660px;
        min-height: 430px;
        margin: 40px auto;
        box-shadow: 0 2px 2px 0 rgba(204, 204, 204, 0.5);
        border: solid 1px #ececec;

        .onboard-title {
            padding: 30px 40px;
            box-shadow: 0 2px 2px 0 rgba(204, 204, 204, 0.5);
            text-align: center;
            font-weight: $font-weight-normal;
        }

        .onboard-content {
            padding: 40px;
        }
    }

    .content-card {
        background-color: get-color('white');
        min-height: 560px;
        padding: 40px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.11);
        border: solid 1px #ececec;

        &.settings-card {
            max-width: 760px;
        }

        &.project-form-card {
            max-width: 920px;
            min-height: 540px;

            .form-group {
                padding-bottom: 20px;
            }

            label {
                font-weight: $font-weight-medium;
            }
        }
    }

    .user-card {
        height: 400px;
        background-color: get-color('white');
        padding: 40px 40px 20px 40px;
        border: solid 1px #ececec;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.21);
    }

    .project-card {
        height: 400px;
        background-color: get-color('white');
        padding: 40px 40px 20px 40px;
        border: solid 1px #ececec;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.21);
    }

    .card-list, .row.card-list {
        margin-right: 0;
        margin-left: 0;

        > .col,
        > [class*="col-"] {
            padding-right: 10px;
            padding-left: 10px;
            padding-bottom: 20px;
        }

    }
}

@import "breakpoints";
