$brand-color: #ed134d;

$font-weight-thin: 100;
$font-weight-medium: 500;

@function px-to-rem($pixels) {
    @return 1rem * ($pixels/16);
}

@function px-to-line-height($pixels) {
    @return ($pixels/16);
}

// Bootstrap overrides
$theme-colors: (
    "primary": $brand-color,
);

$font-size-lg: px-to-rem(18);
$font-size-normal: px-to-rem(14);
$font-size-sm: px-to-rem(12);

$input-btn-padding-y: px-to-rem(8);
$input-btn-padding-x: px-to-rem(20);

$input-bg: #f8f8f8;
$input-border-width: 0;
$input-box-shadow: 0 2px 4px 0 rgba(204, 204, 204, 0.5);
$input-focus-box-shadow: 0 0 0 .2rem rgba(0, 158, 255, 0.3);

$input-group-addon-bg: $input-bg;
