@import "./functions";

// Colors
$color-palette: (
    'black': #444,
    'white': #fff,
    'pink': #ee1f54,
    'lightest-grey': #fafafa,
    'light-grey': #f8f8f8,
    'dark-grey': #888,
    'green': #40bb56,
    'orange': #ff7904,
    'red': #e93232
);

@function get-color($key) {
    @return map-get($color-palette, $key);
}

// Variables
$brand-color: get-color('pink');

$font-weight-thin: 100;
$font-weight-medium: 500;

// Bootstrap overrides
$theme-colors: (
    "primary": $brand-color,
);

$font-size-lg: px-to-rem(18);
$font-size-normal: px-to-rem(14);
$font-size-sm: px-to-rem(12);

$input-btn-padding-y: px-to-rem(7);
$input-btn-padding-x: px-to-rem(20);

$input-bg: #f8f8f8;
$input-border-width: 0;
$input-box-shadow: 0 2px 4px 0 rgba(204, 204, 204, 0.5);
$input-focus-box-shadow: 0 0 0 .2rem rgba(0, 158, 255, 0.3);

$input-group-addon-bg: $input-bg;
